@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 100vw;
}

/* Header Section */
header{
    background-color: #090C14;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    min-height: 4rem;
    padding: 2rem;
}

nav > ul{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 1.5rem;
}

nav > ul a{
    text-decoration: none;
    color: white;
}

.name{
    width: 60vw;
    margin-left: 2rem;
}

/* About me Section */
.introduction-wrapper{
    background-color: #090C14;
    display: flex;
    align-items: center;
    max-height: 85vh;
}

.introduction-wrapper .introduction{
    padding: 5rem;
    display: flex;
    justify-content: center;
    height: 100%;
}

.introduction-wrapper .introduction .text{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 1rem;
}

.introduction-wrapper .introduction .text h1{
    color: #EDBF4B;
    margin-bottom: .4rem;
    font-weight: 700;
}

.introduction-wrapper .introduction .text a{
    border: 1px solid #EDBF4B;
    background-color: #EDBF4B;
    width: 145px;
    text-align: center;
    padding: .4rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.introduction-wrapper .introduction img{
    display: flex;
    width: 35%;
    margin-left: 6rem;
    margin-right: 2rem;
}

/* Skill Section */
.skill-wrapper{
    background-color: #1B1B21;
    display: flex;
}

.skill-wrapper .skill{
    display: flex;
    flex-direction: column;
    padding: 4rem 6.5rem;
    margin-top: .5rem;
}

.skill-wrapper .skill h2{
    color: #EDBF4B;
    font-weight: 700;
}

.skill-wrapper h2::after{
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 1.5rem;
    margin: 0 .5rem;
    transform: translateY(-.4rem);
}

.skill-wrapper .my-skill{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.skill-wrapper .my-skill .hard,
.skill-wrapper .my-skill .tools,
.skill-wrapper .my-skill .soft{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.skill-wrapper .my-skill ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

.skill-wrapper .my-skill ul li{
    margin-top: .7rem;
    margin-right: 1rem;
    border: 1px solid #3E3E3E;
    background-color: #3E3E3E;
    padding: .2rem 2rem;
}

/* Portfolio Section */
.portfolio-wrapper{
    background-color: #090C14;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-wrapper .portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.5rem;
}

.portfolio-wrapper .portfolio h2{
    color: #EDBF4B;
    font-weight: 700;
}

.portfolio-wrapper .portfolio h2::before,
.portfolio-wrapper .portfolio h2::after{
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 1.5rem;
    margin: 0 .5rem;
    transform: translateY(-.4rem);
}

.portfolio-wrapper .portfolio .project-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio .project-wrapper .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.portfolio-wrapper .portfolio .project-wrapper .project .title{
    text-decoration: none;
    color: white;
    border: 1px solid #3E3E3E;
    background-color: #3E3E3E;
    padding: .5rem;
    width: 100%;
    text-align: center;
}

.portfolio .project-image{
    width: 100%;
    height: 10rem;
}

.portfolio-wrapper .portfolio .more{
    border: 1px solid #EDBF4B;
    background-color: #EDBF4B;
    width: 145px;
    text-align: center;
    padding: .4rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* Footer Section */
footer{
    background-color: #1B1B21;
    display: flex;
}

.footer-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 6.5rem 1.5rem 6.5rem;
}

.footer-wrapper h2{
    color: #EDBF4B;
}

.footer-wrapper h2::after{
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 1.5rem;
    margin: 0 .5rem;
    transform: translateY(-.4rem);
}

.footer-wrapper p{
    text-align: center;
    margin-top: 3rem;
}

.footer-wrapper .footer-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-wrapper .footer-menu ul{
    list-style-type: none;
}

.footer-wrapper .footer-menu ul li{
    margin-top: 1.5rem;
}

.footer-wrapper .footer-menu span{
    margin-left: .7rem;
}

.footer-wrapper .footer-menu .contact{
    margin-left: 1.5rem;
}

.footer-wrapper .footer-menu .menu{
    margin-right: 1rem;
}

.footer-wrapper .footer-menu .contact{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1048px){
    .introduction-wrapper .introduction{
        padding: 4rem 3rem 4rem 3rem;
    }
    .introduction-wrapper .introduction .text{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        margin-top: .5rem;
    }
    .introduction-wrapper .introduction img{
        display: flex;
        width: 35%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .skill-wrapper .skill{
        display: flex;
        flex-direction: column;
        padding: 4rem 2rem 4rem 4rem;
        margin-top: .5rem;
    }
    .portfolio-wrapper .portfolio{
        padding: 4rem .5rem 4rem .5rem;
    }
    .footer-wrapper{
        padding: 4rem;
    }
}

@media (max-width: 900px){
    .introduction-wrapper .introduction{
        padding: 5rem 2rem 4rem 3rem;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .introduction-wrapper .introduction img{
        display: flex;
        width: 40%;
    }
    .portfolio-wrapper .portfolio{
        padding: 4rem 1.5rem 4rem 1.5rem;
    }
    .portfolio .project-image{
        width: 100%;
        height: 30%;
    }
}

@media (max-width: 796px){
    header{
        background-color: #090C14;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        width: 100%;
        min-height: 4rem;
        padding: 2rem;
        position: fixed;
        z-index: 10;
    }
    .container{
        max-width: 100vw;
    }
    .introduction-wrapper{
        max-height: 100%;
    }
    .introduction-wrapper .introduction{
        margin-top: 5rem;
        padding: 1rem .8rem 2rem .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
    }
    .introduction-wrapper .introduction .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;
        margin-top: 1rem;
    }
    .skill-wrapper .skill{
        display: flex;
        flex-direction: column;
        padding: 4rem .5rem 4rem 3rem;
        margin-top: .5rem;
    }
    .portfolio-wrapper .portfolio{
        padding: 4rem 1rem 4rem 1rem;
    }
    .portfolio-wrapper .portfolio .project-wrapper .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .portfolio .project-image{
        width: 100%;
        height: 30%;
    }
    .portfolio-wrapper .portfolio .project-wrapper .project .title{
        font-size: 20px;
        text-decoration: none;
        color: white;
        border: 1px solid #3E3E3E;
        background-color: #3E3E3E;
        padding: .8rem;
        width: 100%;
        text-align: center;
    }
    .footer-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }
    .footer-wrapper .footer-menu .contact{
        margin-left: 0;
    }
    .footer-wrapper .footer-menu .menu{
        margin-right: 0;
    }
}

@media(max-width: 570px){
    .name{
        margin-left: 1rem;
    }
    .introduction-wrapper .introduction{
        padding: 1rem .8rem 2rem .8rem;
    }
    .skill-wrapper .skill{
        padding: 4rem 0 4rem 3rem;
    }
    .portfolio-wrapper .portfolio{
        padding: 4rem 1rem 4rem 1rem;
    }
    .footer-wrapper{
        padding: 4rem 3rem 4rem 3rem;
    }
}

