@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 100vw;
}

/* Header Section */
nav{
    background-color: #090C14;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    min-height: 4rem;
    padding: 2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 1.5rem;
}

nav ul li{
    margin-right: 3rem;
}

nav ul a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.yellow{
    color: #EDBF4B;
}

.name{
    flex: 1;
    margin-left: 2rem;
}
nav .toggle{
    display: none;
    font-size: 20px;
    margin-right: 1rem;
}

/* Portfolio Section */
.portfolio-wrapper{
    background-color: #090C14;
}

.portfolio-wrapper .portfolio{
    padding: 4rem 2rem 4rem 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio-wrapper .portfolio .category ul li{
    font-size: 18px;
}

.portfolio-wrapper .portfolio .category #btnAll:hover,
.portfolio-wrapper .portfolio .category #btnFront:hover,
.portfolio-wrapper .portfolio .category #btnUI:hover,
.active{
    border-bottom: 2px solid white;
}

.portfolio-wrapper .portfolio h2{
    color: #EDBF4B;
    margin-bottom: .5rem;
}

.portfolio-wrapper .portfolio .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-wrapper .portfolio .project .title{
    text-decoration: none;
    color: white;
    border: 1px solid #3E3E3E;
    background: linear-gradient(to right, #EDBF4B 50%, #3E3E3E 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    padding: .5rem;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

.portfolio-wrapper .portfolio .project .title:hover{
    background-position: left bottom;
    border: 1px solid #EDBF4B;
    color: black;
}

.portfolio .category ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.portfolio .category ul li a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

.portfolio .project-image{
    width: 20rem;
    height: 10rem;
}

.portfolio .project-list-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio .project-list-frontend{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio .project-list-uiux{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio .project{
    margin: 2rem 2rem 0 0;
}

/* Footer Section */
footer{
    background-color: #1B1B21;
    display: flex;
}

.footer-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 6.5rem 1.5rem 6.5rem;
}

.footer-wrapper h2{
    color: #EDBF4B;
}

.footer-wrapper h2::after{
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 1.5rem;
    margin: 0 .5rem;
    transform: translateY(-.4rem);
}

.footer-wrapper p{
    text-align: center;
    margin-top: 3rem;
}

.footer-wrapper .footer-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-wrapper .footer-menu ul{
    list-style-type: none;
}

.footer-wrapper .footer-menu ul li{
    margin-top: 1.5rem;
}

.footer-wrapper .footer-menu ul li a{
    text-decoration: none;
    color: white;
}

.footer-wrapper .footer-menu ul li a:hover{
    color: #EDBF4B;
}

.footer-wrapper .footer-menu span{
    margin-left: .7rem;
}

.footer-wrapper .footer-menu .contact{
    margin-left: 1.5rem;
}

.footer-wrapper .footer-menu .menu{
    margin-right: 1rem;
}

.footer-wrapper .footer-menu .contact{
    display: flex;
    flex-direction: column;
}
@media(max-width: 1185px){
    .portfolio-wrapper .portfolio .project-list-all,
    .portfolio-wrapper .portfolio .project-list-frontend,
    .portfolio-wrapper .portfolio .project-list-uiux{
        justify-content: center;
    }
}

@media(max-width: 832px){
    .portfolio .project-image{
        width: 100%;
        height: 90%;
    }
    .portfolio-wrapper .portfolio .project .title{
        padding: 1rem;
        font-size: 20px;
    }
}

@media (max-width: 796px){
    body{
        height: 100vh;
        max-height: 100%;
    }
    nav{
        background-color: #090C14;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        width: 100%;
        min-height: 4rem;
        padding: 2rem;
        position: fixed;
        z-index: 10;
    }
    nav .name{
        margin-left: 1rem;
    }
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        top: 0;
        height: 100vh;
        width: 100vw;
        margin-right: 0;
        margin-top: 2rem;
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.7s;
    }
    nav ul li{
        font-size: 25px;
        margin-top: 3rem;
        margin-left: 3rem;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    nav .toggle{
        display: block;
    }
    .portfolio-wrapper .portfolio{
        padding: 6.5rem 1rem 4rem 3rem;
    }
    .footer-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }
    .footer-wrapper .footer-menu .contact{
        margin-left: 0;
    }
    .footer-wrapper .footer-menu .menu{
        margin-right: 0;
    }
}
@media (max-width: 570px){
    .footer-wrapper{
        padding: 4rem 3rem 4rem 3rem;
    }
}
@media(max-width: 490px){
    .portfolio-wrapper .portfolio .project .title{
        font-size: 1rem;
        padding: .5rem;
    }
    .footer-wrapper .footer-menu{
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .footer-wrapper .footer-menu .menu{
        text-align: end;
    }
}