@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 100vw;
}

/* Header Section */
nav{
    background-color: #090C14;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    min-height: 4rem;
    padding: 2rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 1.5rem;
}

nav ul li{
    margin-right: 3rem;
}

nav ul a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.yellow{
    transition: all 0.5s;
    color: #EDBF4B;
}

.name{
    flex: 1;
    margin-left: 2rem;
}

nav .toggle{
    display: none;
    font-size: 20px;
    margin-right: 1rem;
}

.project-wrapper{
    background-color: #090C14;
}

.project-wrapper .project{
    padding: 4rem 3rem 4rem 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-wrapper .project a{
    text-decoration: none;
    color: #EDBF4B;
}

.project-wrapper .project a{
    font-size: 15px;
    margin-bottom: .5rem;
    color: white;
}

.project-wrapper .project h2{
    color: #EDBF4B;
    margin-bottom: 1.3rem;
}

.project-wrapper .project .img-container{
    background-color: #2D2D37;
    width: 95%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.project-wrapper .project img{
    width: 60%;
}

.project-wrapper .project .project-text .about{
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.project-wrapper .project .project-text .language ul{
    margin: .5rem 0 0 2.5rem;
    margin-bottom: 2rem;
}

.project-wrapper .project .project-text .btn{
    border: 1px solid #EDBF4B;
    background: linear-gradient(to right, black 50%, #EDBF4B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    width: 200px;
    text-align: center;
    padding: .5rem;
    color: black;
    font-weight: 400;
    transition: all 0.6s;
}

.project-wrapper .project .project-text .btn:hover{
    background-position: left bottom;
    border: 1px solid #EDBF4B;
    color: #EDBF4B;
}

/* Footer Section */
footer{
    background-color: #1B1B21;
    display: flex;
}

.footer-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 6.5rem 1.5rem 6.5rem;
}

.footer-wrapper h2{
    color: #EDBF4B;
}

.footer-wrapper h2::after{
    display: inline-block;
    content: "";
    border-top: .2rem solid white;
    width: 1.5rem;
    margin: 0 .5rem;
    transform: translateY(-.4rem);
}

.footer-wrapper p{
    text-align: center;
    margin-top: 3rem;
}

.footer-wrapper .footer-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-wrapper .footer-menu ul{
    list-style-type: none;
}

.footer-wrapper .footer-menu ul li{
    margin-top: 1.5rem;
}

.footer-wrapper .footer-menu ul li a{
    text-decoration: none;
    color: white;
}

.footer-wrapper .footer-menu ul li a:hover{
    color: #EDBF4B;
}

.footer-wrapper .footer-menu span{
    margin-left: .7rem;
}

.footer-wrapper .footer-menu .contact{
    margin-left: 1.5rem;
}

.footer-wrapper .footer-menu .menu{
    margin-right: 1rem;
}

.footer-wrapper .footer-menu .contact{
    display: flex;
    flex-direction: column;
}

@media (max-width: 796px){
    body{
        height: 100vh;
        max-height: 100%;
    }
    nav{
        background-color: #090C14;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        width: 100%;
        min-height: 4rem;
        padding: 2rem;
        position: fixed;
        z-index: 10;
    }
    nav .name{
        margin-left: 1rem;
    }
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        top: 0;
        height: 100vh;
        width: 100vw;
        margin-right: 0;
        margin-top: 2rem;
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.7s;
    }
    nav ul li{
        font-size: 25px;
        margin-top: 3rem;
        margin-left: 3rem;
    }
    nav ul.slide{
        transform: translateX(0);
    }
    nav .toggle{
        display: block;
    }
    .project-wrapper .project{
        padding: 6rem .8rem 4rem 3rem;
    }
    .project-wrapper .project img{
        width: 100%;
    }
    .footer-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem 4rem 3rem;
    }
    .footer-wrapper .footer-menu .contact{
        margin-left: 0;
    }
    .footer-wrapper .footer-menu .menu{
        margin-right: 0;
    }
}
@media(max-width: 490px){
    .project-wrapper .project{
        padding: 6rem 1rem 4rem 3rem;
    }
    .footer-wrapper .footer-menu{
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .footer-wrapper .footer-menu .menu{
        text-align: end;
    }
}