@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

nav{
    background-color: #090C14;
}

.project-section{
    background-color: #090C14;
}

footer{
    background-color: #1B1B21;
}