*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
}

nav{
    background-color: #090C14;
}

.introduction{
    background-color: #090C14;
}

.my-skill{
    background-color: #1B1B21;
}

.portfolio{
    background-color: #090C14;
}

.portfolio .project-image{
    width: 20rem;
    height: 10rem;
}

footer{
    background-color: #1B1B21;
}